#wrapper{
  margin: 10px;
  background: red;
  width: 300px;
  height: 300px;
  overflow-y: auto;
}

#wrapper div{
  width: 100%;
  background: blue;
  margin: 5px 0px;
  color: white;
  height: 60px;
  text-align: center;
  font-size: 30px;
  opacity: 0;
  transition: all 2s linear;
}

#wrapper div.show{
  opacity: 1;
}